a:hover {color: #2ecc71;}

.btn-dark:hover {color: #2ecc71;}
.btn-dark.selected {color: #2ecc71;}

.title {color: #2ecc71;}
.home-content:before {border-left: 10px solid #2ecc71;border-top: 10px solid #2ecc71;}
.home-content:after{border-right: 10px solid #2ecc71;border-bottom: 10px solid #2ecc71;}

#about.center .about-box:hover .ab-icon {color: #2ecc71;}
.about-box:hover .ab-icon i{color: #2ecc71;}
.ab-icon i {color: #2ecc71;}

.selected {color: #2ecc71;}

#video:hover .play {color: #2ecc71;}

.copyright i {color: #2ecc71;}

#footer-social > li > a:hover {color: #2ecc71;}

.scroll-to-top { background: #2ecc71 url("../images/utility/go-to-top.png") no-repeat scroll center center; }
