a:hover {color: #de3926;}

.btn-dark:hover {color: #de3926;}
.btn-dark.selected {color: #de3926;}

.title {color: #de3926;}
.home-content:before {border-left: 10px solid #de3926;border-top: 10px solid #de3926;}
.home-content:after{border-right: 10px solid #de3926;border-bottom: 10px solid #de3926;}

#about.center .about-box:hover .ab-icon {color: #de3926;}
.about-box:hover .ab-icon i{color: #de3926;}
.ab-icon i {color: #de3926;}

.selected {color: #de3926;}

#video:hover .play {color: #de3926;}

.copyright i {color: #de3926;}

#footer-social > li > a:hover {color: #de3926;}

.scroll-to-top { background: #de3926 url("../images/utility/go-to-top.png") no-repeat scroll center center; }
