a:hover {color: #16a085;}

.btn-dark:hover {color: #16a085;}
.btn-dark.selected {color: #16a085;}

.title {color: #16a085;}
.home-content:before {border-left: 10px solid #16a085;border-top: 10px solid #16a085;}
.home-content:after{border-right: 10px solid #16a085;border-bottom: 10px solid #16a085;}

#about.center .about-box:hover .ab-icon {color: #16a085;}
.about-box:hover .ab-icon i{color: #16a085;}
.ab-icon i {color: #16a085;}

.selected {color: #16a085;}

#video:hover .play {color: #16a085;}

.copyright i {color: #16a085;}

#footer-social > li > a:hover {color: #16a085;}

.scroll-to-top { background: #16a085 url("../images/utility/go-to-top.png") no-repeat scroll center center; }
