a:hover {color: #f1c40f;}

.btn-dark:hover {color: #f1c40f;}
.btn-dark.selected {color: #f1c40f;}

.title {color: #f1c40f;}
.home-content:before {border-left: 10px solid #f1c40f;border-top: 10px solid #f1c40f;}
.home-content:after{border-right: 10px solid #f1c40f;border-bottom: 10px solid #f1c40f;}

#about.center .about-box:hover .ab-icon {color: #f1c40f;}
.about-box:hover .ab-icon i{color: #f1c40f;}
.ab-icon i {color: #f1c40f;}

.selected {color: #f1c40f;}

#video:hover .play {color: #f1c40f;}

.copyright i {color: #f1c40f;}

#footer-social > li > a:hover {color: #f1c40f;}

.scroll-to-top { background: #f1c40f url("../images/utility/go-to-top.png") no-repeat scroll center center; }
