a:hover {color: #e67e22;}

.btn-dark:hover {color: #e67e22;}
.btn-dark.selected {color: #e67e22;}

.title {color: #e67e22;}
.home-content:before {border-left: 10px solid #e67e22;border-top: 10px solid #e67e22;}
.home-content:after{border-right: 10px solid #e67e22;border-bottom: 10px solid #e67e22;}

#about.center .about-box:hover .ab-icon {color: #e67e22;}
.about-box:hover .ab-icon i{color: #e67e22;}
.ab-icon i {color: #e67e22;}

.selected {color: #e67e22;}

#video:hover .play {color: #e67e22;}

.copyright i {color: #e67e22;}

#footer-social > li > a:hover {color: #e67e22;}

.scroll-to-top { background: #e67e22 url("../images/utility/go-to-top.png") no-repeat scroll center center; }
