a:hover {color: #2980b9;}

.btn-dark:hover {color: #2980b9;}
.btn-dark.selected {color: #2980b9;}

.title {color: #2980b9;}
.home-content:before {border-left: 10px solid #2980b9;border-top: 10px solid #2980b9;}
.home-content:after{border-right: 10px solid #2980b9;border-bottom: 10px solid #2980b9;}

#about.center .about-box:hover .ab-icon {color: #2980b9;}
.about-box:hover .ab-icon i{color: #2980b9;}
.ab-icon i {color: #2980b9;}

.selected {color: #2980b9;}

#video:hover .play {color: #2980b9;}

.copyright i {color: #2980b9;}

#footer-social > li > a:hover {color: #2980b9;}

.scroll-to-top { background: #2980b9 url("../images/utility/go-to-top.png") no-repeat scroll center center; }
